
.icon-mail:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */