﻿
/*globals*/

body {
    background-color: #050505;
    color: #ffffff;
    font-size: 15px;
    font-family: Verdana;
}

.clear {
    clear: both;
}

.float {
    float: left;
}

th {
    letter-spacing: 1px;
}

td,th {
    padding: 15px;
    border-bottom: 1px solid #444444;
    
}

hr {
    margin: 50px;
    color: #444444;
}

a:link, a:visited {
    color: #ffffff;
    cursor: auto;
    text-decoration: none;
}

    a:link:active, a:visited:active {
        color: #ffffff;
    }

form {
    margin: 50px;
}

td-form-input-id {
    margin:5px;
    float:none; 
    border:none;
    font-size: 16px;
}

input[type=text] {
    padding: 5px;
    background-color: transparent;
    border: 1px solid #444444;
    color: #ffffff;
    margin: 10px;
    width: 200px;
    text-align: left;
    float: left;
}

.date {
    max-width: 70px;
    min-width: 0px;
    
}

input[type=number] {
    padding: 5px;
    background-color: transparent;
    border: 1px solid #444444;
    color: #ffffff;
    margin: 10px;
    width: 60px;
    text-align: left;
    float: left;
}

input[type="password"] {
    padding: 5px;
    background-color: transparent;
    border: 1px solid #444444;
    color: #ffffff;
    margin: 10px;
    width: 200px;
    float: left;
    text-align: left;
}

input[type="submit"] {
    font-family: inherit;
    font-size:14px;
}

.falf-form-label {
    min-width: 200px;
    text-align: right;
    margin: 10px;
    float: left;
    padding: 5px;
}


.falf-form-title {
    margin: 10px;
    margin-left: 150px;
}

.falf-button {
    background-color: transparent;
    border: 1px solid #444444;
    color: #ffffff;
    font-size:14px;
    text-align: center; 
    cursor: pointer;
    opacity: 0.8;
}
    .falf-button.big {      
        margin:5px;
        padding:10px;
        letter-spacing: 1px;
        font-size:15px;
    }

    .falf-button.submit {
        margin:10px;
        padding:5px;
    }

    .falf-button.small {
        margin:0px;
        padding:3px;
    }

    .falf-button:hover {
        background-color: black;
        opacity: 1;
    }

.error {
    margin-left:280px;
    color:red;
}
.header-error-el {
    text-align: center;
    padding: 5px;
    color: darkgrey;
    height: 30px;
    width: 23%;
    float: left;
}

/* locals */

#cookie-text {
    font-size: 18px;
    margin-bottom: 20px;
}

#cookie-button {
    border: 1px solid #222222;
    margin-left: 20px;
    margin-right: 20px;
}

    #cookie-button:hover {
        background-color: #333333;
    }


#admin-choice {
    margin-left: 30px;
}


#header {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 70px;
    width: 100%;
    white-space: nowrap;
}

.head-el {
    height: 100%;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    opacity: 0.8;
}

    .head-el:hover {
        opacity: 1;
        cursor: pointer;
    }

#head-logo {
    width: 15%;
    min-width: 220px;
    opacity: 1;
}

#head-title {
    width: 37%;
    min-width: 250px;
    letter-spacing: 2px;
    font-weight: 900;
}

#head-search {
    width: 11%;
    min-width: 150px;
}

#head-contact {
    width: 11%;
    min-width: 100px;
}

#head-account {
    width: 11%;
    min-width: 100px;
}

#head-shop {
    width: 12%;
    min-width: 100px;
    margin-right: 3%;
}

#main-section {
    height: 100%;
    background-color: #0E0E0E;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}

#left-bar {
    height: 100%;
    width: 15%;
    padding: 10px;
    float: left;
}

.left-category {
    padding: 10px;
    min-height: 20px;
    letter-spacing: 1px;
    border-bottom: 1px solid #222222;
    cursor: pointer;
    opacity: 0.8;
}

    .left-category:hover {
        background-color: black;
        cursor: pointer;
        opacity: 1;
    }

#content {
    width: 70%;
    padding: 15px;
    height: 100%;
    min-height: 500px;
    /*text-align: center;*/
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    float: left;
}

.genre {
    float: left;
    width: 190px;
    height: 150px;
    /*margin: 0.5%;*/
      margin:21px;
      position:relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 170px 132px;
    opacity: 1;
}


.genre img {
    position: absolute;
    left: 0;
    width: 190px;
    height: 150px;
    /*-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;*/
    transition: opacity 0.5s ease-in-out;
}
.genre img.top:hover {
  opacity:0;
}
#right-bar {
    height: 100%;
    width: 15%;
    text-align: center;
    float: left;
}

#footer {
    height: 40px;
    width: 100%;
    white-space: nowrap;
}

#copyright {
    width: 48%;
    height: 100%;
    display: inline-block;
    margin-left: 2%;
}

#clock {
    width: 48%;
    height: 100%;
    display: inline-block;
    margin-right: 2%;
    text-align: right;
}
